
body {
    background: white;
    font-family: arial, sans-serif;
    background-color: #3FA9E2;
    font-size: 0.75em;
  }
  
  .small {
    background-color: #E03571;
    
    
  }
  
  .medium {
    background-color: #E2AE3D;
  }
  
  .large {
    background-color: #E06733;
    flex : 2;
  }
  
  .specials div {
    flex: 1;
    /* border: 1px solid lightgrey; */
    margin: 0em;
    padding: 1em;
    
  }
  
  .small img {
    width: 4em;
  }
  
  .medium img {
    width: 5em;
  }
  
  
  .large img {
    width: 7em;
    
  }
  
  
  
  
  .footer {
    display: flex;
  }
  
  .footer div {
    flex: 1;
  /*   border: 1px solid;
     */  margin-top: 1em;
    padding: 1em;
    background-color: #CDD93F;
  }
  
  .hidden{
      display: none;
  }


	.cart {
		/* position: fixed; */
		width: 100%;
		/* margin: auto; */
		/* width: 40%; */
		/* min-height: 15em; */
		background-color: #CDD93F;
		top: 0em;
		right: 0em;
		margin-right: 1em;
		padding: 1em;
		/* border: 0.1em solid; */
		border-radius: 0.25em;
		/* z-index: 1000; */
	}

	.cartTotal {
		position: fixed;
		/* width: 100%; */
		/* margin: auto; */
		width: 20%;
		/* min-height: 15em; */
		background-color: #CDD93F;
		top: 0em;
		right: 0em;
		margin-right: 1em;
		padding: 1em;
		/* border: 0.1em solid; */
		border-radius: 0.25em;
		/* z-index: 1000; */
	}

	.cart table {
		border-collapse: collapse;
	}
	
	.cart table {
		border-collapse: collapse;
		width: 100%;
	}

	.cart td {
		border-top: 1px solid snow;
	} 

	.cart th, td {
		padding: 15px;
		text-align: left;
	}

	.cart img {
		width: 2em;
	}

	.cart h3 {
		/* text-decoration: underline; */display: inline;
	}

	.cartTotal {
		padding: 1em;
	}

	.cartTotal img {
		/* padding: 1em; */
		width: 2em;
	}
	
	.info {
		height: 15em;
	}

  	.small {
		background-color: #E03571;
  	}
  
  .medium {
	background-color: #E2AE3D;
  }
  
  .large {
	background-color: #E06733;
	flex : 2;
  }
  @media (min-width: 768px){
  
    .specials {
      display: flex;
    }
    
    body {
      font-size: 1em;
    }
    
  }
  
  
  